<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.komidori_doctor.mapper.EmailInfoMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.komidori_doctor.pojo.EmailInfo" >
    <id column="email_id" property="emailId" jdbcType="INTEGER" />
    <result column="email_title" property="emailTitle" jdbcType="VARCHAR" />
    <result column="email_from_id" property="emailFromId" jdbcType="VARCHAR" />
    <result column="email_to_doc_id" property="emailToDocId" jdbcType="INTEGER" />
    <result column="email_to_admin_id" property="emailToAdminId" jdbcType="INTEGER" />
    <result column="email_content" property="emailContent" jdbcType="VARCHAR" />
    <result column="email_status" property="emailStatus" jdbcType="INTEGER" />
    <result column="email_date" property="emailDate" jdbcType="TIMESTAMP" />
    <result column="validate_type" property="validateType" jdbcType="INTEGER" />
    <result column="validate_course_id" property="validateCourseId" jdbcType="INTEGER" />
    <result column="validate_doc_id" property="validateDocId" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="MyResultMap" type="com.doctor.komidori_doctor.pojo.EmailInfo" >
    <id column="email_id" property="emailId" jdbcType="INTEGER" />
    <result column="email_title" property="emailTitle" jdbcType="VARCHAR" />
    <result column="email_from_id" property="emailFromId" jdbcType="VARCHAR" />
    <result column="email_to_doc_id" property="emailToDocId" jdbcType="INTEGER" />
    <result column="email_to_admin_id" property="emailToAdminId" jdbcType="INTEGER" />
    <result column="email_content" property="emailContent" jdbcType="VARCHAR" />
    <result column="email_status" property="emailStatus" jdbcType="INTEGER" />
    <result column="email_date" property="emailDate" jdbcType="TIMESTAMP" />
    <result column="validate_type" property="validateType" jdbcType="INTEGER" />
    <result column="validate_course_id" property="validateCourseId" jdbcType="INTEGER" />
    <result column="validate_doc_id" property="validateDocId" jdbcType="INTEGER" />

    <association property="doctorInfo" javaType="com.doctor.komidori_doctor.pojo.DoctorInfo">
      <id column="doctor_id" property="doctorId" jdbcType="INTEGER"/>
      <result column="doctor_name" property="doctorName" jdbcType="VARCHAR"/>
    </association>

    <association property="adminInfo" javaType="com.doctor.komidori_doctor.pojo.AdminInfo">
      <id column="admin_id" property="adminId" jdbcType="INTEGER"/>
      <result column="admin_name" property="adminName" jdbcType="VARCHAR"/>
    </association>

    <association property="courseInfo" javaType="com.doctor.komidori_doctor.pojo.CourseInfo">
      <id column="course_id" property="courseId" jdbcType="INTEGER"/>
      <result column="course_title" property="courseTitle" jdbcType="VARCHAR"/>
    </association>
  </resultMap>

  <!--BY lcy-->
  <!--  管理员邮件-->
  <select id="ad_getEmailList" resultMap="MyResultMap">
        select * from email_info
        inner join admin_info on email_info.email_to_admin_id = admin_info.admin_id
--         inner join course_info on email_info.validate_course_id = course_info.course_id
--         inner join doctor_info on email_info.validate_doc_id = doctor_info.doctor_id
  </select>

  <select id="ad_getEmailById_course" resultMap="MyResultMap">
        select * from email_info
        inner join admin_info on email_info.email_to_admin_id = admin_info.admin_id
        inner join course_info on email_info.validate_course_id = course_info.course_id
        where email_info.email_id = #{emailId}
  </select>

  <select id="ad_getEmailById_doc" resultMap="MyResultMap">
        select * from email_info
        inner join admin_info on email_info.email_to_admin_id = admin_info.admin_id
        inner join doctor_info on email_info.validate_doc_id = doctor_info.doctor_id
        where email_info.email_id = #{emailId}
  </select>
  <!--  管理员邮件 end-->

  <!--  医生邮件-->

  <select id="doc_getEmailById_course" resultMap="MyResultMap">
        select * from email_info
        inner join doctor_info on email_info.email_to_doc_id = doctor_info.doctor_id
        inner join course_info on email_info.validate_course_id = course_info.course_id
        where email_info.email_id = #{emailId}
  </select>

  <select id="doc_getEmailById_doc" resultMap="MyResultMap">
        select * from email_info
        inner join doctor_info on email_info.email_to_doc_id = doctor_info.doctor_id
        where email_info.email_id = #{emailId}
  </select>

  <select id="doc_getEmailListById" resultMap="MyResultMap">
        select * from email_info
        inner join doctor_info on email_info.email_to_doc_id = doctor_info.doctor_id
        where email_info.email_to_doc_id = #{doctorId}
  </select>
  <!--  医生邮件 end-->



  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    email_id, email_title, email_from_id, email_to_doc_id, email_to_admin_id, email_content, 
    email_status, email_date, validate_type, validate_course_id, validate_doc_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.doctor.komidori_doctor.pojo.EmailInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from email_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from email_info
    where email_id = #{emailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from email_info
    where email_id = #{emailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.doctor.komidori_doctor.pojo.EmailInfoExample" >
    delete from email_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.doctor.komidori_doctor.pojo.EmailInfo" >
    insert into email_info (email_id, email_title, email_from_id, 
      email_to_doc_id, email_to_admin_id, email_content, 
      email_status, email_date, validate_type, 
      validate_course_id, validate_doc_id)
    values (#{emailId,jdbcType=INTEGER}, #{emailTitle,jdbcType=VARCHAR}, #{emailFromId,jdbcType=VARCHAR}, 
      #{emailToDocId,jdbcType=INTEGER}, #{emailToAdminId,jdbcType=INTEGER}, #{emailContent,jdbcType=VARCHAR}, 
      #{emailStatus,jdbcType=INTEGER}, #{emailDate,jdbcType=TIMESTAMP}, #{validateType,jdbcType=INTEGER}, 
      #{validateCourseId,jdbcType=INTEGER}, #{validateDocId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.doctor.komidori_doctor.pojo.EmailInfo" >
    insert into email_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="emailId != null" >
        email_id,
      </if>
      <if test="emailTitle != null" >
        email_title,
      </if>
      <if test="emailFromId != null" >
        email_from_id,
      </if>
      <if test="emailToDocId != null" >
        email_to_doc_id,
      </if>
      <if test="emailToAdminId != null" >
        email_to_admin_id,
      </if>
      <if test="emailContent != null" >
        email_content,
      </if>
      <if test="emailStatus != null" >
        email_status,
      </if>
      <if test="emailDate != null" >
        email_date,
      </if>
      <if test="validateType != null" >
        validate_type,
      </if>
      <if test="validateCourseId != null" >
        validate_course_id,
      </if>
      <if test="validateDocId != null" >
        validate_doc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="emailId != null" >
        #{emailId,jdbcType=INTEGER},
      </if>
      <if test="emailTitle != null" >
        #{emailTitle,jdbcType=VARCHAR},
      </if>
      <if test="emailFromId != null" >
        #{emailFromId,jdbcType=VARCHAR},
      </if>
      <if test="emailToDocId != null" >
        #{emailToDocId,jdbcType=INTEGER},
      </if>
      <if test="emailToAdminId != null" >
        #{emailToAdminId,jdbcType=INTEGER},
      </if>
      <if test="emailContent != null" >
        #{emailContent,jdbcType=VARCHAR},
      </if>
      <if test="emailStatus != null" >
        #{emailStatus,jdbcType=INTEGER},
      </if>
      <if test="emailDate != null" >
        #{emailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validateType != null" >
        #{validateType,jdbcType=INTEGER},
      </if>
      <if test="validateCourseId != null" >
        #{validateCourseId,jdbcType=INTEGER},
      </if>
      <if test="validateDocId != null" >
        #{validateDocId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.doctor.komidori_doctor.pojo.EmailInfoExample" resultType="java.lang.Integer" >
    select count(*) from email_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update email_info
    <set >
      <if test="record.emailId != null" >
        email_id = #{record.emailId,jdbcType=INTEGER},
      </if>
      <if test="record.emailTitle != null" >
        email_title = #{record.emailTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.emailFromId != null" >
        email_from_id = #{record.emailFromId,jdbcType=VARCHAR},
      </if>
      <if test="record.emailToDocId != null" >
        email_to_doc_id = #{record.emailToDocId,jdbcType=INTEGER},
      </if>
      <if test="record.emailToAdminId != null" >
        email_to_admin_id = #{record.emailToAdminId,jdbcType=INTEGER},
      </if>
      <if test="record.emailContent != null" >
        email_content = #{record.emailContent,jdbcType=VARCHAR},
      </if>
      <if test="record.emailStatus != null" >
        email_status = #{record.emailStatus,jdbcType=INTEGER},
      </if>
      <if test="record.emailDate != null" >
        email_date = #{record.emailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validateType != null" >
        validate_type = #{record.validateType,jdbcType=INTEGER},
      </if>
      <if test="record.validateCourseId != null" >
        validate_course_id = #{record.validateCourseId,jdbcType=INTEGER},
      </if>
      <if test="record.validateDocId != null" >
        validate_doc_id = #{record.validateDocId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update email_info
    set email_id = #{record.emailId,jdbcType=INTEGER},
      email_title = #{record.emailTitle,jdbcType=VARCHAR},
      email_from_id = #{record.emailFromId,jdbcType=VARCHAR},
      email_to_doc_id = #{record.emailToDocId,jdbcType=INTEGER},
      email_to_admin_id = #{record.emailToAdminId,jdbcType=INTEGER},
      email_content = #{record.emailContent,jdbcType=VARCHAR},
      email_status = #{record.emailStatus,jdbcType=INTEGER},
      email_date = #{record.emailDate,jdbcType=TIMESTAMP},
      validate_type = #{record.validateType,jdbcType=INTEGER},
      validate_course_id = #{record.validateCourseId,jdbcType=INTEGER},
      validate_doc_id = #{record.validateDocId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.doctor.komidori_doctor.pojo.EmailInfo" >
    update email_info
    <set >
      <if test="emailTitle != null" >
        email_title = #{emailTitle,jdbcType=VARCHAR},
      </if>
      <if test="emailFromId != null" >
        email_from_id = #{emailFromId,jdbcType=VARCHAR},
      </if>
      <if test="emailToDocId != null" >
        email_to_doc_id = #{emailToDocId,jdbcType=INTEGER},
      </if>
      <if test="emailToAdminId != null" >
        email_to_admin_id = #{emailToAdminId,jdbcType=INTEGER},
      </if>
      <if test="emailContent != null" >
        email_content = #{emailContent,jdbcType=VARCHAR},
      </if>
      <if test="emailStatus != null" >
        email_status = #{emailStatus,jdbcType=INTEGER},
      </if>
      <if test="emailDate != null" >
        email_date = #{emailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validateType != null" >
        validate_type = #{validateType,jdbcType=INTEGER},
      </if>
      <if test="validateCourseId != null" >
        validate_course_id = #{validateCourseId,jdbcType=INTEGER},
      </if>
      <if test="validateDocId != null" >
        validate_doc_id = #{validateDocId,jdbcType=INTEGER},
      </if>
    </set>
    where email_id = #{emailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doctor.komidori_doctor.pojo.EmailInfo" >
    update email_info
    set email_title = #{emailTitle,jdbcType=VARCHAR},
      email_from_id = #{emailFromId,jdbcType=VARCHAR},
      email_to_doc_id = #{emailToDocId,jdbcType=INTEGER},
      email_to_admin_id = #{emailToAdminId,jdbcType=INTEGER},
      email_content = #{emailContent,jdbcType=VARCHAR},
      email_status = #{emailStatus,jdbcType=INTEGER},
      email_date = #{emailDate,jdbcType=TIMESTAMP},
      validate_type = #{validateType,jdbcType=INTEGER},
      validate_course_id = #{validateCourseId,jdbcType=INTEGER},
      validate_doc_id = #{validateDocId,jdbcType=INTEGER}
    where email_id = #{emailId,jdbcType=INTEGER}
  </update>
</mapper>