<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="../../assets/css/city/index.css"/>-->
    <link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
    <!--End  Page Level  CSS -->
    <link href="../../assets/css/Doctor_port_css/icons.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/Doctor_port_css/style.css" rel="stylesheet">
    <link href="../../assets/css/Doctor_port_css/responsive.css" rel="stylesheet">

</head>

<body class="sticky-header">
<!-- call modal -->
<div id="modal">
    <div class="modal call fade" id="call" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="call">
                        <!--<div class="call-background" style="background: url(../assets/images/call-bg.png)"></div>-->
                        <div>
                            <figure class="mb-4 avatar avatar-xl">
                                <img src="../../assets/images/heads.jpg" class="img-circle">
                            </figure>
                            <h4 class="text-center">【<span id="mat_name"></span>】正在咨询您 ...</h4>
                            <div class="action-button">
                                <a onclick="jumpToConsult()" type="button" class="btn btn-success btn-floating btn-lg"
                                   :href="'../online_consult/consult_ask2.html?docId=' + doctorId + '&matId=' + maternalId">
                                    <i class="fa fa-phone"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-pulse btn-floating btn-lg"
                                        data-dismiss="modal">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ call modal -->

<!--Start left side Menu-->
<header>
    <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="index.html"><img src="../../assets/images/l3.jpg" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a href="index.html"><i class="fa fa-user"></i></a>
        </div>
        <div class="left-side-inner">
            <!--左侧 导航-->
            <ul class="nav nav-pills nav-stacked custom-nav">

                <li class="menu-list">
                    <a href="#"><i class="fa fa-home"></i>
                        <span>主页</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li class=""><a href="../index.html"> 主页</a></li>
                    </ul>
                </li>

                <li class="menu-list">
                    <a href="#"><i class="icon-user"></i>
                        <span>个人中心</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../user/personal_info.html"> 隐私信息</a></li>
                        <li><a href="../user/doc_profile.html"> 个人Profile</a></li>
                        <li><a href="../user/reset_pwd.html"> 重置密码</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="online">
                    <a href="#"><i class="icon-microphone"></i>
                        <span>线上咨询管理</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../online_consult/consult_setting.html">线上服务设置</a></li>
                        <li><a href="../online_consult/consult_list.html"> 线上服务订单</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="offline">
                    <a href="#"><i class="icon-paper-clip"></i>
                        <span>线下预约管理</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../offline_book/offline_setting.html"> 设置预约信息</a></li>
                        <li><a href="../offline_book/offline_service_list.html"> 线下服务订单</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="course">
                    <a href="#"><i class="icon-people"></i>
                        <span>经验社区</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../course_management/mycourse_list.html"> 我的课程</a></li>
                        <li><a href="../course_management/publish_course.html"> 发布课程</a></li>
                    </ul>
                </li>

                <li class="menu-list nav-active">
                    <a href="#"><i class="icon-envelope-letter"></i>
                        <span>我的消息盒子</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li class="active"><a href="../inbox/inbox.html"> 消息盒子</a></li>
                        <!--<li><a href="icon-simple-lineicon.html">Simple Line Icon</a></li>-->
                    </ul>
                </li>

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
</header>
<!--End left side menu-->


<!-- main content start-->
<div class="main-content" id="app">

    <!-- header section start-->
    <div class="header-section">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li v-if="messageCount != 0">
                    <a onclick="jumpToConsult()" :href="'../online_consult/consult_ask2.html?docId=' + doctorId + '&matId=' + maternalId" class="btn btn-default dropdown-toggle info-number consultbtn">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">1</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">{{noteSize}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">消息</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="message-list message-scroll-list">
                                <a href="#" v-for="note in noteList">
                                    <span class="photo"> <img src="../assets/images/admin.jpg" class="img-circle"
                                                              alt="img"></span>
                                    <span class="subject">{{note.emailFromId}}</span>
                                    <p class="message hiddencontent">{{note.emailContent}}</p>
                                    <span class="time">{{formatDate(note.emailDate,"yyyy-MM-dd hh:mm-ss")}}</span>
                                </a>
                            </li>
                            <li class="last">
                                <a href="inbox/inbox.html">所有消息</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img :src="doctor.doctorImg" alt=""/>
                        <span v-if="doctor.doctorStatus==1" class="label label-success">在线</span>
                        <span v-if="doctor.doctorStatus==0" class="label label-default">离线</span>
                        {{doctor.doctorName}}
                        <span id="verify" class="hidden">0</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li>
                            <a href="user/reset_pwd.html"> <i class="fa fa-exchange"></i> 更改密码 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="logout()"> <i class="fa fa-lock"></i> 退出登陆 </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <!--Start Page Title-->
        <div class="page-title-box">
            <h4 class="page-title">您好 , 【{{doctor.doctorName}}】医生 !</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">主页</a>
                </li>
                <li>
                    <a href="#">我的消息盒子</a>
                </li>
                <li class="active">
                    消息盒子
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->

        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h2 class="header-title">消息盒子</h2>
                    <div class="table-responsive">
                        <div id="toolbar" class="toolbar">
                            <!--<button class="btn btn-theme02" onclick="" id="delbtn">批量删除</button>-->
                        </div>
                        <table id="email_list" class="table table-hover">
                        </table>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div>

    </div>
    <!-- End Wrapper-->


    <!--Start  Footer -->
    <footer class="footer-main">Copyright &copy; 2019 Komidori. All rights reserved.</footer>
    <!--End footer -->

</div>
<!--End main content -->


<!--Begin core plugin -->
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/jquery.slimscroll.js"></script>
<script src="../../assets/js/chat/jquery.nicescroll.min.js"></script>
<script src="../../assets/js/functions.js"></script>
<!-- End core plugin -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../assets/js/inbox/inbox.js"></script>

<!--table-->
<script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.js"></script>

<script src="../../assets/js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/GlobalVariables.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/GlobalMethod.js" type="text/javascript" charset="utf-8"></script>

</body>
<script type="text/javascript">

    let app = new Vue({
        el: "#app",
        data: {
            doctorId: '',
            maternalId:'',
            messageCount:0,
            inbox: [],
            doctor: {}, noteList: [], noteSize: 0
        },
        mounted() {
            inits()
            getList()
            getDoctorMsg2(this, '#verify')
            getDocNoteMsg(this)
        },
        methods: {}
    });

    let modal = new Vue({
        el: "#modal",
        data: {
            doctorId: '',
            maternalId: '',
        }
    });

    function inits() {
        $("#email_list").bootstrapTable('hideLoading');
        $("#email_list")
            .on('dbl-click-row.bs.table', function (e, row, ele, field) {
                //转跳到当前目录下的mat_info
                window.location.href = 'mail_view.html?emailid=' + row.emailId + '&valtype=' + row.validateType;
            })
    }

    function getList() {
        $.ajax({
            url: "http://" + host + "/DocPort/email/getAllEmailList",
            method: "get",
            xhrFields: {
                withCredentials: true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                console.log(result)
                if (result.status != "200") {
                    alert(result.message)
                    window.location.href = '../doc_signin.html'
                    return;
                }
                let list = result.data
                for (let i = 0; i < list.length; i++) {
                    list[i].emailDate = formatDate(list[i].emailDate, 'yyyy-MM-dd hh:mm:ss')
                }
                app.inbox = list;
                initTable();
            }
        });
    }

    function initTable() {
        $('#email_list').bootstrapTable({
            columns: [
                {
                    // radio: true, // 单选
                    checkbox: true,
                    width: 30,
                    halign: 'center',//表头居中显示
                    align: 'center'
                },

                {
                    field: 'emailId',
                    title: '消息编号',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 50

                },
                {
                    field: 'emailFromId',
                    title: '发件人',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 50

                },
                {
                    field: 'emailStatus',
                    title: '状态',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 30,
                    formatter: function (value, row, index) {   //传入数据
                        if (value == 1)
                            return '<span class="label label-default">已读</span>';
                        else
                            return '<span class="label label-warning">未读</span>';
                    },

                },
                {
                    field: 'emailTitle',
                    title: '主题',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 50,

                },
                {
                    field: 'emailContent',
                    title: '内容',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 100,

                },
                {
                    field: 'validateType',
                    title: '审核类型',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 30,
                    formatter: function (value, row, index) {   //传入数据
                        if (value == 1)
                            return '<span class="label label-primary">医生</span>';
                        else
                            return '<span class="label label-warning">课程</span>';
                    },

                },
                {
                    field: 'emailDate',
                    title: '时间',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 80

                },

                {
                    field: '',
                    title: '管理',
                    halign: 'center',
                    align: 'center',
                    width: 50,
                    formatter: function (value, row, index) {   //传入数据
                        return '<a class="btn btn-theme02 btn-sm" title="del" >删除</a>';
                    },
                    events: {
                        'click a[title=del]': function (e, value, row, index) {
                            if (confirm('此操作不可逆，请确认是否删除？')) {
                                $.ajax
                                ({
                                    url: "http://" + host + "/DocPort/email/deleteEmailById",
                                    method: "delete",
                                    data: {emailId: row.emailId},
                                    xhrFields: {withCredentials: true}, //带上cookie信息，解决sessionid不一致
                                    success: function (result) {
                                        console.log(result);
                                        if (result.status == "200") {
                                            alert("删除成功");

                                            $('#email_list').bootstrapTable('remove',
                                                {
                                                    field: 'emailId',
                                                    values: [parseInt(row.emailId)]
                                                });

                                            $("#email_list").bootstrapTable("refresh");
                                        } else {
                                            alert(result.message)
                                        }

                                    }
                                });//ajax end
                            }
                        },

                    }
                }],
            data: app.inbox,
            url: '',
            method: 'post',
            pagination: true,  //设置为 true 会在表格底部显示分页条。
            paginationLoop: false, //设置为 true 启用分页条无限循环的功能。
            pageSize: 3,//每页初始显示的条数
            pageList: [5, 10, 15],
            toolbar: '#toolbar',//工具栏
            toolbarAlign: 'right',//工具栏的位置
            search: true,
            showRefresh: true,
            showColumns: true,
            clickToSelect: true,   //是否启用点击选中行
//      height:400
//      sidePagination: "client"

        });

    }


</script>
</html>
