<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="themepresss">
    <title>宝宝屋</title>

    <link href="../../assets/css/index_Base.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="../../assets/css/Maternal_port_css/user/babylist.css"/>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../assets/css/sweetalert.css"/>
</head>
<body class="card-no-border">

<div class="page-wrapper">
    <!--头部-->
    <header id="header" class="site-header header-style-1 header-style-3">
        <div class="topbar">
            <div class="container">
                <div class="separator"></div>
                <div class="row">
                    <div class="col col-sm-3">
                        <div class="contact-info">
                            <ul>
                                <li><i class="ti-location-pin"></i>湛江市赤坎区教育路11号</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-sm-5">
                        <div class="contact-info">
                            <ul>
                                <li><i class="ti-mobile"></i>502015889@qq.com</li>
                                <li><i class="ti-email"></i>+ 0759 134 3364 8882</li>
                            </ul>
                        </div>
                    </div>
                    <!--登陆注册入口-->
                    <div class="col col-sm-4 hidden">
                        <div class="sign">
                            <ul>
                                <li><a href="signin.html" class="log">登陆</a></li>
                                <li><a href="register.html" class="log">注册</a></li>
                                <li id="doc_entry"><a href="#" class="log">医生入口</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--登陆后显示-->
                    <div class="col col-sm-4 ">
                        <div class="admin">
                            <ul>
                                <li>
                                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <img src="../../assets/images/heads.jpg" alt="" width="30px" height="30px"/>
                                        Komidori Li
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                        <li><a href="../user/personal_center.html"> <i class="ti-user"></i> 个人中心 </a>
                                        </li>
                                        <li><a href="../reset_pwd.html"> <i class="ti-lock"></i> 更改密码</a></li>
                                        <li><a href="../user/personal_information.html"> <i class="ti-bag"></i> 我的信息
                                        </a></li>
                                        <hr/>
                                        <li><a href="../signin.html"> <i class="ti-close"></i> 退出登陆 </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div> <!-- end container -->
        </div>
        <!-- end topbar -->

        <nav class="navigation navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="open-btn">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a class="navbar-brand" href="index.html"><img src="../../assets/images/l3.jpg" alt height="68px;"></a>
                </div>
                <!--导航条-->
                <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                    <button class="close-navbar"><i class="ti-close"></i></button>
                    <ul class="nav navbar-nav">

                        <li class="menu-item-has-children">
                            <a href="../index.html">主页</a>

                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">线上咨询服务</a>
                            <ul class="sub-menu">
                                <li><a href="../doctor/find_doctors.html">找医生</a></li>
                                <!--<li><a href="service-single.html">按科室寻找医生</a></li>-->
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">线下预约服务</a>
                            <ul class="sub-menu">
                                <li><a href="../doctor/find_appointment_doc.html">预约私人医生</a></li>
                                <li><a href="../nurse/find_nurses.html">预约月嫂</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">经验交流社区</a>
                            <ul class="sub-menu">
                                <li><a href="../mom_public/expert_course.html">专家课程</a></li>
                                <li><a href="../expert/find_experts.html">找专家</a></li>
                                <li><a href="../mom_public/mom_public.html">妈妈交流社区</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">育儿工具</a>
                            <ul class="sub-menu">
                                <li><a href="../baby_tools/production_list.html">产检表</a></li>
                                <li><a href="../baby_tools/vaccine_list.html">疫苗接种</a></li>
                                <li><a href="../baby_tools/growth_prediction.html">胎儿发育测评</a></li>
                            </ul>
                        </li>

                        <li><a href="../about.html">关于我们</a></li>

                    </ul>
                </div><!-- end of nav-collapse -->
                <!--导航条//-->
                <!--搜索-->
                <div class="side-info">
                    <div class="header-search-form-wrapper">
                        <button class="search-toggle-btn"><i class="fi flaticon-search"></i></button>
                        <div class="header-search-form">
                            <form>
                                <div>
                                    <input type="text" class="form-control" placeholder="在此处搜索...">
                                    <button type="submit"><i class="fi flaticon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--搜索//-->
            </div><!-- end of container -->
        </nav>
    </header>

    <!--头部结束-->
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- end preloader -->

    <!--导航-->
    <div id="personal">
        <div class="container">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-12 align-self-center">
                    <!--<h3 class="text-themecolor">个人信息</h3>-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item"><a href="../user/personal_center.html">个人中心</a></li>
                        <li class="breadcrumb-item">宝宝屋</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--导航结束-->
    <div id="app">
        <div class="container">
            <section class="blog-single-section">
                <h3 class="comments-title2">宝宝屋<span class="badge">2</span></h3>
                <a class="add" data-toggle="modal" data-target="#add_new_baby">添加宝宝</a>
                <div class="row">

                    <div class="col-md-12">
                        <div class="white-box">

                            <div class="table-responsive">
                                <div id="toolbar" class="toolbar">
                                    <!--<button class="btn btn-theme02" onclick="" id="delbtn">批量删除</button>-->
                                </div>
                                <table id="baby_list" class="table table-hover">
                                </table>
                            </div>
                        </div>
                    </div>

                </div><!-- end row -->


            </section>
        </div>

        <!--添加宝宝弹出框-->
        <div class="modal fade" id="add_new_baby" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加新宝宝</h4>
                    </div>
                    <div class="modal-body">
                        <form id="add_baby_form" class="" onsubmit="return false">
                            <!--宝宝名-->
                            <div class="form-group">
                                <label for="baby_name" class="control-label">宝宝名:</label>
                                <input v-model="baby.babyName" type="text" class="form-control" id="baby_name">
                            </div>
                            <!--宝宝性别-->e
                            <div class="form-group">
                                <label class="control-label">宝宝性别:</label>
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="babysex" @click="getBabySex" v-model="baby.babySex" value="小王子"> 小王子
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="babysex" @click="getBabySex" v-model="baby.babySex" value="小公举"> 小公举
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="babysex" @click="getBabySex" v-model="baby.babySex" value="未知"> 未知
                                    </label>
                                </div>
                            </div>
                            <!--宝贝状态-->
                            <div class="form-group">
                                <label class="control-label">宝宝状态:</label>
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" name="baby_status" @click="getBabyStatus" v-model="baby.babyStatus" value="1">
                                        出生
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="baby_status" @click="getBabyStatus" v-model="baby.babyStatus" value="0">
                                        未出生
                                    </label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="sa-add" onclick="addMyBaby()" type="button" class="btn btn-primary" data-dismiss="modal">添加宝宝</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!--弹出框end-->
    </div>

    <!--页尾-->
    <div id="foot"></div>

</div>
</body>


<!-- All JavaScript files================================================== -->

<!--jquery-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

<!--bootstrap-->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Plugins for this template -->
<script src="../../assets/js/jquery-plugin-collection.js"></script>

<!-- Custom script for this template -->
<script src="../../assets/js/script.js"></script>

<!--滑动-->
<script src="../../assets/js/smoothscroll.js"></script>

<!--table-->
<script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.js"></script>

<script src="../../assets/js/sweetalert/jquery.sweet-alert.custom.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/sweetalert/sweet-alert.js" type="text/javascript" charset="utf-8"></script>

<!--时间(日期)段插件-->
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>-->
<script src="../../assets/js/time/bootstrap-datepicker.min.js"></script>
<script src="../../assets/js/time/bootstrap-datepicker.zh-CN.min.js"></script>

<script src="../../assets/js/vue/vue.js"></script>
<script src="../../assets/js/GlobalVariables.js"></script>
<script src="../../assets/js/GlobalMethod.js"></script>
<!-- JS files end===========================================================-->
<script>
    //	$("#head").load("./user_head.html");
    function init(){
        $(function () {
            $("#foot").load("../low_footer.html");

            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn'),
            });

        });
        $("#baby_list").bootstrapTable('hideLoading');

        $("#baby_list")
            .on('dbl-click-row.bs.table', function (e, row, ele, field) {
                window.location.href = 'babyinfo.html?id=' + row.babyId
            })
    }


</script>
<script type="text/javascript">

    function initTable(){
        $('#baby_list').bootstrapTable({
            columns: [

                {
                    field: 'id',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    halign: 'center',
                    align: 'center',
                    width: 50
                },
                {
                    field: 'babyId',
                    title: '宝宝编号',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 80

                },
                {
                    field: 'babyName',
                    title: '宝宝名字',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 80

                },
                {
                    field: 'babyStatus',
                    title: '宝宝状态',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: '30px',
                    formatter: function (value, row, index) {   //传入数据
                        if (value == 1)
                            return '<span class="label label-success">出生</span>';
                        else if (value == 0)
                            return '<span class="label label-info">未出生</span>';


                    },

                },
                {
                    field: 'babySex',
                    title: '宝宝性别',
                    halign: 'center',//表头居中显示
                    align: 'center',
                    width: 60,

                },
                {
                    field: '',
                    title: '管理',
                    halign: 'center',
                    align: 'center',
                    width: '80px',
                    formatter: function (value, row, index) {   //传入数据
                        return '<a class="btn btn-theme02 btn-sm" title="del" >删除</a>';
                    },
                    events: {
                        'click a[title=del]': function (e, value, row, index) {
                            if (confirm('此操作不可逆，请确认是否删除？')) {

                                $.ajax({
                                    url: "http://" + host + "/maternal/baby/deleteBabyByBabyID",
                                    method: "delete",
                                    data: {
                                        id: row.babyId
                                    },
                                    xhrFields: {
                                        withCredentials: true  //带上cookie信息，解决sessionid不一致
                                    },
                                    success: function (result) {
                                        console.log(result)

                                        if(result.status == "200"){
                                            alert("删除成功")
                                            $('#baby_list').bootstrapTable('remove',
                                                {field: 'bnurseOrderId', values: [parseInt(row.babyId)]});
                                            $("#baby_list").bootstrapTable("refresh");
                                        } else {
                                            alert(result.message)
                                        }


                                    }
                                });

                            }
                        }
                    },

                }],
            url: '',
            method: 'post',
            pagination: true,  //设置为 true 会在表格底部显示分页条。
            paginationLoop: false, //设置为 true 启用分页条无限循环的功能。
            pageSize: 3,//每页初始显示的条数
            pageList: [5, 10, 15],
            toolbar: '#toolbar',//工具栏
            toolbarAlign: 'right',//工具栏的位置
            search: true,
            showRefresh: true,
            clickToSelect: true,   //是否启用点击选中行
//      height:400
//      sidePagination: "client"

        });
    }





</script>

<script>
    function getMyAllBaby() {
        $.ajax({
            url: "http://" + host + "/maternal/baby/getMyAllBaby",
            method: "get",
            xhrFields: {
                withCredentials: true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                console.log(result)
                if (result.status != "200") {
                    alert(result.message)
                    window.location.href = '../index.html'
                    return
                }
                app.babyList = result.data
                console.log(app.babyList)
                $('#baby_list').bootstrapTable(
                    'load',app.babyList
                );
              //  initTable()
            }
        });
    }

    function addMyBaby(){
        $.ajax({
            url: "http://" + host + "/maternal/baby/addMyBaby",
            method:"post",
            data:JSON.stringify(app.baby),
            dataType: "json",
            contentType: "application/json;charset-UTF-8",
            xhrFields:{
                withCredentials:true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                console.log(result)
                if(result.message == "success"){
                    alert("添加成功")
                    window.location.reload()
                }
            }
        });
    }
</script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            babyList: [],
            baby:{
                babyName:"",
                babyStatus:0,
                babySex:"小王子",
            },
        },
        mounted() {
            returnSignin()
            init()
            initTable()
            getMyAllBaby()
        },
        methods: {
            getBabySex(obj){
                this.baby.babySex = obj.target.value
            },
            getBabyStatus(obj){
                this.baby.babyStatus = obj.target.value
            },
        }
    })
</script>
</html>
