<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <title>发布课程</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/city/index.css"/>
    <link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
    <!--End  Page Level  CSS -->
    <link href="../../assets/css/Doctor_port_css/icons.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/Doctor_port_css/style.css" rel="stylesheet">
    <link href="../../assets/css/Doctor_port_css/responsive.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
</head>

<body class="sticky-header">
<!-- call modal -->
<div id="modal">
    <div class="modal call fade" id="call" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="call">
                        <!--<div class="call-background" style="background: url(../assets/images/call-bg.png)"></div>-->
                        <div>
                            <figure class="mb-4 avatar avatar-xl">
                                <img src="../../assets/images/heads.jpg" class="img-circle">
                            </figure>
                            <h4 class="text-center">【<span id="mat_name"></span>】正在咨询您 ...</h4>
                            <div class="action-button">
                                <a onclick="jumpToConsult()" type="button" class="btn btn-success btn-floating btn-lg"
                                   :href="'../online_consult/consult_ask2.html?docId=' + doctorId + '&matId=' + maternalId">
                                    <i class="fa fa-phone"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-pulse btn-floating btn-lg"
                                        data-dismiss="modal">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ call modal -->

<!--Start left side Menu-->
<header>
    <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="index.html"><img src="../../assets/images/l3.jpg" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a href="index.html"><i class="fa fa-user"></i></a>
        </div>
        <div class="left-side-inner">
            <!--左侧 导航-->
            <ul class="nav nav-pills nav-stacked custom-nav">

                <li class="menu-list nav-active">
                    <a href="../index.html"><i class="fa fa-home"></i>
                        <span>主页</span>
                    </a>
                </li>

                <li class="menu-list">
                    <a href="#"><i class="icon-user"></i>
                        <span>个人中心</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../user/personal_info.html"> 隐私信息</a></li>
                        <li><a href="../user/doc_profile.html"> 个人Profile</a></li>
                        <li><a href="../user/reset_pwd.html"> 重置密码</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="online">
                    <a href="#"><i class="icon-microphone"></i>
                        <span>线上咨询管理</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../online_consult/consult_setting.html">线上服务设置</a></li>
                        <li><a href="../online_consult/consult_list.html"> 线上服务订单</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="offline">
                    <a href="#"><i class="icon-paper-clip"></i>
                        <span>线下预约管理</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../offline_book/offline_setting.html"> 设置预约信息</a></li>
                        <li><a href="../offline_book/offline_service_list.html"> 线下服务订单</a></li>
                    </ul>
                </li>

                <li class="menu-list nav-active" id="course">
                    <a href="#"><i class="icon-people"></i>
                        <span>经验社区</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../course_management/mycourse_list.html"> 我的课程</a></li>
                        <li class="active"><a href="../course_management/publish_course.html"> 发布课程</a></li>
                    </ul>
                </li>

                <li class="menu-list">
                    <a href="#"><i class="icon-envelope-letter"></i>
                        <span>我的消息盒子</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="../inbox/inbox.html"> 消息盒子</a></li>
                        <!--<li><a href="icon-simple-lineicon.html">Simple Line Icon</a></li>-->
                    </ul>
                </li>

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
</header>
<!--End left side menu-->


<!-- main content start-->
<div class="main-content" id="app">

    <!-- header section start-->
    <div class="header-section">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li v-if="messageCount != 0">
                    <a onclick="jumpToConsult()"
                       :href="'../online_consult/consult_ask2.html?docId=' + doctorId + '&matId=' + maternalId"
                       class="btn btn-default dropdown-toggle info-number consultbtn">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">1</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">{{noteSize}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">消息</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="message-list message-scroll-list">
                                <a href="#" v-for="note in noteList">
                                    <span class="photo"> <img src="../assets/images/admin.jpg" class="img-circle"
                                                              alt="img"></span>
                                    <span class="subject">{{note.emailFromId}}</span>
                                    <p class="message hiddencontent">{{note.emailContent}}</p>
                                    <span class="time">{{formatDate(note.emailDate,"yyyy-MM-dd hh:mm-ss")}}</span>
                                </a>
                            </li>
                            <li class="last">
                                <a href="inbox/inbox.html">所有消息</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img :src="doctor.doctorImg" alt=""/>
                        <span v-if="doctor.doctorStatus==1" class="label label-success">在线</span>
                        <span v-if="doctor.doctorStatus==0" class="label label-default">离线</span>
                        {{doctor.doctorName}}
                        <span id="verify" class="hidden">0</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li>
                            <a href="user/reset_pwd.html"> <i class="fa fa-exchange"></i> 更改密码 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="logout()"> <i class="fa fa-lock"></i> 退出登陆 </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <!--Start Page Title-->
        <div class="page-title-box">
            <h4 class="page-title">您好 , 菜玉溪医生 !</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">主页</a>
                </li>
                <li>
                    <a href="#">经验社区管理</a>
                </li>
                <li class="active">
                    发布课程
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->


        <!--Start row-->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h2 class="header-title">新课程</h2>
                    <form class="js-validation-bootstrap form-horizontal">

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="val-coursename">课程名称 <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="val-coursename" name="val-coursename"
                                       placeholder="Enter Course Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="val-type">课程类型 <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select v-model="type" id="val-courseType" class="form-control" id="val-type"
                                        name="val-type">
                                    <option value="1">视频</option>
                                    <option value="2">音频</option>
                                    <option value="3" selected="selected">文章</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="val-class">课程分类 <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control" id="val-class" name="val-class">
                                    <option value="7007">其他</option>
                                    <option value="7001" selected="selected">怀孕·生活</option>
                                    <option value="7002">备孕·试管</option>
                                    <option value="7003">产后·调理</option>
                                    <option value="7004">育儿·经验</option>
                                    <option value="7005">情感·谈天</option>
                                    <option value="7006">早教·幼教</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="val-price">价格 <span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="number" id="val-price" name="val-price"
                                       placeholder="Enter Course Price" min="0">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label " for="val-course_introduction">课程简介 <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="val-course_introduction"
                                          name="val-course_introduction" rows="4"
                                          placeholder="Enter Introduction"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label class="col-md-12 control-label text-left" for="val-course_content">课程正文 <span class="text-danger">*</span></label>-->
                            <div v-show="type == 3" class="col-md-12">
                                <textarea id="val-course_content" name="val-course_content"
                                          class="form-control"></textarea>
                                <!--<div id="val-course_content" name="val-course_content"></div>-->
                            </div>

                            <div v-show="type != 3" class="col-md-12">
                                <input type="file" id="media" name="media">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-3">
                                <a class="btn btn-theme02" id="submit">&nbsp;&nbsp;提交&nbsp;&nbsp;</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>
    <!-- End Wrapper-->


    <!--Start  Footer -->
    <footer class="footer-main">Copyright &copy; 2019 Komidori. All rights reserved.</footer>
    <!--End footer -->

</div>
<!--End main content -->


<!--Begin core plugin -->
<!--Begin core plugin -->
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/jquery.slimscroll.js"></script>
<script src="../../assets/js/chat/jquery.nicescroll.min.js"></script>
<script src="../../assets/js/functions.js"></script>
<!-- End core plugin -->
<!--验证-->
<script src="../../assets/js/jquery-validation/jquery.validate.min.js"></script>
<script src="../../assets/js/jquery-validation/validation-custom.js"></script>
<!--文本编辑器-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<script src="../../assets/js/summernote/summernote-zh-CN.js"></script>

<script src="../../assets/js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/GlobalVariables.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/GlobalMethod.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/js/getUrlParam.js" type="text/javascript" charset="utf-8"></script>

</body>
<script type="text/javascript">

    let app = new Vue({
        el: "#app",
        data: {
            doctorId: '',
            maternalId: '',
            messageCount: 0,
            course: [],
            type: 3,
            publicCategoryName: "",
            doctor: {}, noteList: [], noteSize: 0
        },
        mounted() {

            inits()
            getDoctorMsg2(this, '#verify')
            getDocNoteMsg(this)

        },
        methods: {}
    })

    let modal = new Vue({
        el: "#modal",
        data: {
            doctorId: '',
            maternalId: '',
        }
    });

    function inits() {
        /*$('#val-course_content').summernote();*/
        $('#val-course_content').summernote({
            height: 300,                 // 定义编辑框高度
            minHeight: null,             // 定义编辑框最低的高度
            maxHeight: null,             // 定义编辑框最高德高度
            lang: 'zh-CN', focus: true,
            placeholder: '课程正文写在此处...', //占位符
            onInit: function () {
                $('.note-editor').attr({'data-error-prop': 'true', 'name': 'body'});
            },
            callbacks: {
                onImageUpload: function (file, editor, $editable) {
                    var formData = new FormData();
                    //‘picture’为后台获取的文件名，file[0]是要上传的文件
                    formData.append("file", file[0]);
                    $.ajax({
                        type: 'post',
                        url: "http://" + host + "/index/uploadImage",
                        cache: false,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            console.log(result)
                            let fileName = result.message
                            console.log(fileName)
                            let path = '../../assets/images/chatImg/' + fileName
                            console.log(path)
                            $('#val-course_content').summernote('insertImage', path);
                        },
                        error: function () {
                            alert("上传失败");
                        }
                    });
                }
            }
        });

        $('#submit').click(function () {

            if ($('#val-course_content').summernote("isEmpty") && app.type == 3) {
                alert("课程内容不能为空");
            } else {
                let course = {
                    courseTitle: $("#val-coursename").val(),
                    courseType: $("#val-courseType").val(),
                    courseClassId: $("#val-class").val(),
                    coursePrice: $("#val-price").val(),
                    courseIntroduction: $("#val-course_introduction").val(),
                    courseContent: "",
                    courseDocId: app.doctor.doctorId,
                }

                if (app.type == 3) {
                    course.courseContent = $('#val-course_content').summernote('code')
                } else {
                    let formData = new FormData();
                    formData.append('media', $('#media')[0].files[0]);
                    formData.append('type', app.type);
                    $.ajax({
                        url: "http://" + host + "/index/upLoadFile",
                        type: 'post',
                        processData: false,
                        contentType: false,
                        async: false,
                        data: formData,
                        success: function (result) {
                            console.log(result)
                            course.courseContent =result.message
                        }
                    })
                }

                $.ajax({
                    url: "http://" + host + "/DocPort/course/doctorSubmitCourse",
                    method: "post",
                    data: JSON.stringify(course),
                    dataType: "json",
                    async: false,
                    contentType: "application/json;charset-UTF-8",
                    xhrFields: {
                        withCredentials: true  //带上cookie信息，解决sessionid不一致
                    },
                    success: function (result) {
                        console.log(result)
                        if (result.status == "200") {
                            alert("发布成功")
                            window.location.href = 'mycourse_info.html?courseid=' + result.message
                        }
                    }
                });
            }

        });
    }

    //	$(document).ready(function() {
    //		$('#val-course_content').summernote();
    //	});


</script>
</html>
