.bodybox{
	background-color: #F5F5F5;
}
.white-box {
		margin-top: 20px;
    background: #FFF;
    padding: 20px;
    float: left;
    width: 100%;
		margin-bottom:30px;
		text-align: center;
		
}
.header-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
#example-form{
	background-color: #FFFFFF;
}
.formbox{
	background-color: #FFFFFF;
	width: 100%;
}

.form-group{
	text-align: left;
	margin-top: 10px;
}
/*验证码*/
.yzm,.cityinput{
	border-radius: 4px;
	width:80%;
	height:34px;
	border: 1px solid #ccc;
	display: inline-block;
	float: left;
	padding: 5px 10px;
	font-size: 14px;
}
.sendbox,.citybox{
	display: inline-block;
	width:20%;
}
.sendbox button,.citybox .btn{
				width: 100%;
				height: 34px;  
				font-size: 14px;
				text-align: center;
				background: transparent;
				border-radius: 8px;
				color: #a07941;
				border-color: #9BCD9B;
				color: #6F9E75;
				line-height: 20px;
				font-weight: bold;
}
.sendbox button:hover,.citybox .btn:hover{
	color: #71C671;
}

@media(max-width:767px ) {
	.yzm,.city{
	width:60%;
	}
	.sendbox,.citybox{
	width:40%;
}
}

#doc_city_picker{
	width: 350px;
}
.agreebox{
	padding-top:20px ;
}
.agreement{
	color: #6F9E75;
	font-weight: bold;
}
#acceptTerms{
	margin-top: 20px;
}

/*模态框*/

.modal-body{
	height:auto;
}

/*图片预览*/
.fileupload-preview{
	max-width: 200px; 
	max-height: 150px; 
	line-height: 20px;
}
.fileupload-new .thumbnail{
	width: 200px; 
	height: 150px;
}
.fileupload-new{
	
}

