<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="assets/images/favicon.png" type="image/png">
  <title>重置密码</title>
   	<link href="../../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
     <!--End  Page Level  CSS -->
    <link href="../../assets/css/Doctor_port_css/icons.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/Doctor_port_css/style.css" rel="stylesheet">
    <link href="../../assets/css/Doctor_port_css/responsive.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../assets/css/lcy_css.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/loginstyle.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/pwd_rank_style.css"/>
</head>

<body class="sticky-header">

<header>
		<div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="../index.html"><img src="../../assets/images/l3.jpg" alt=""></a>
        </div>
				<div class="logo-icon text-center">
            <a href="../index.html"><i class="fa fa-user"></i></a>
        </div>
        <div class="left-side-inner">
            <!--左侧 导航-->
            <ul class="nav nav-pills nav-stacked custom-nav">
            	
                <li class="menu-list">
                	<a href="#"><i class="fa fa-home"></i> 
                		<span>主页</span>
                	</a>
                  <ul class="sub-menu-list">
                    <li><a href="../index.html"> 主页</a></li>
                  </ul>
                </li>

                <li class="menu-list nav-active">
                	<a href="#"><i class="icon-user"></i> 
                		<span>个人中心</span>
                	</a>
                    <ul class="sub-menu-list">
                        <li><a href="../mine/admin_info.html"> 个人信息</a></li>
                        <li class="active"><a href="../mine/reset_pwd.html"> 重置密码</a></li>
                    </ul>
                </li>
                
                <li class="menu-list">
                	<a href="#"><i class="icon-people"></i> 
                		<span>平台用户管理</span>
                	</a>
                    <ul class="sub-menu-list">
                        <li><a href="../user/mat_list.html"> 孕产妇管理</a></li>
                        <li><a href="../user/doc_list.html"> 入驻医生管理</a></li>
                    </ul>
                </li>
                
                <li class="menu-list">
                	<a href="#"><i class="icon-microphone"></i> 
                		<span>线上服务管理</span>
                	</a>
                    <ul class="sub-menu-list">
                    		<li><a href="../online_service/online_list.html">线上咨询情况</a></li>
                    </ul>
                </li>

                <li class="menu-list">
                	<a href="#"><i class="icon-paper-clip"></i> 
                		<span>线下服务管理</span>
                	</a>
                    <ul class="sub-menu-list">
                        <li><a href="../offline_service/doc_offline_list.html"> 医生线下服务情况</a></li>
                        <li><a href="../offline_service/nurse_offline_list.html"> 月嫂线下服务情况</a></li>
                    </ul>
                </li>

                <li class="menu-list">
                	<a href="#"><i class="icon-book-open"></i> 
                		<span>经验社区管理</span>
                	</a>
                  <ul class="sub-menu-list">
                        <li><a href="../public_service/essay_list.html"> 孕产妇帖子管理</a></li>
                        <li><a href="../public_service/course_list.html"> 医生课程管理</a></li>
                  </ul>
                </li>
                
                <li class="menu-list">
                	<a href="#"><i class="icon-user-female"></i> 
                		<span>入驻月嫂管理</span>
                	</a>
                  <ul class="sub-menu-list">
                        <li><a href="../nurse_management/add_nurse.html"> 添加入驻月嫂</a></li>
                        <li><a href="../nurse_management/nurse_list.html"> 入驻月嫂列表</a></li>
                  </ul>
                </li>
                
                <li class="menu-list">
                	<a href="#"><i class="icon-envelope-letter"></i> 
                		<span>我的消息盒子</span>
                	</a>
                    <ul class="sub-menu-list">
                        <li><a href="../inbox/inbox.html"> 消息盒子</a></li>
                    </ul>
                </li>
         
            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
	</header>
    
    <!-- main content start-->
    <div class="main-content" id="app" >

        <!-- header section start-->
        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    
                  <li>
                  	<a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                  		<i class="fa fa-bell-o"></i>
                  		<span class="badge">{{noteSize}}</span>
                  	</a>
                  	<div class="dropdown-menu dropdown-menu-head pull-right">
                  		<h5 class="title">消息</h5>
                  		<ul class="dropdown-list normal-list">
                  			<li class="message-list message-scroll-list">
                  				<a href="#" v-for="note in noteList">
                  					<span class="photo"> <img src="../../assets/images/admin.jpg" class="img-circle" alt="img"></span>
                  					<span class="subject">{{note.emailFromId}}</span>
                  					<p class="message hiddencontent">{{note.emailContent}}</p>
                  					<span class="time">{{formatDate(note.emailDate,"yyyy-MM-dd hh:mm-ss")}}</span>
                  				</a>
                  			</li>
                  			<li class="last">
                  				<a href="inbox/inbox.html">所有消息</a>
                  			</li>
                  		</ul>
                  	</div>
               	 	</li>
                    
                  <li>
                  	<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  		<img src="../../assets/images/admin.jpg" alt="" /> Admin：{{admin.adminName}}
                  		<span class="caret"></span>
                  	</a>
                  	<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                  		<li>
                  			<a href="../mine/reset_pwd.html"> <i class="fa fa-exchange"></i> 更改密码 </a>
                  		</li>
                  		<li>
                  			<a href="javascript:void(0)" onclick="logout()"> <i class="fa fa-lock"></i> 退出登陆 </a>
                  		</li>
                  	</ul>
                  </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
              
              <!--Start Page Title-->
               <div class="page-title-box">
                    <h4 class="page-title">您好 , 管理员Lcy !</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="../index.html">主页</a>
                        </li>
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li class="active">
                            	重置密码
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                 </div>
                  <!--End Page Title-->          
           
           
               <!--Start row-->
               <div class="row">
                   <div class="col-md-12">
                       <div class="white-box white-box-reset">  
                       	<section class="signin py-5">
                       			<div class="row main-content-agile">
                       				<div class="col-md-6 mx-auto col-md-push-3 col-xs-12">
                       					<div class="sub-main-w3 text-center">
                       						<h3>重置密码</h3>
                       						<!--提示-->
                       						<p class="mt-2 mb-4">请重新设置密码</p>
                       						<form action="#" onsubmit="return false">
                       	
                       							<div>
												 						<!--新密码-->
																		 <div class="icon1">
																			<div class="input_container">
																				<label for="pwd">密码</label>
																				<input @input="p_len" v-model="password" id="pwd" placeholder="密码" name="pwd" type="password"  required="">
																				<span :class="{ valid_password_length: valid_password_length , show_password_length: typed}" class="password_length">{{password_length}}</span>
																			</div>
																		 </div>
												 						<!--重复密码--> 						
																		<div class="icon1">
																			<label for="pwd2">重复</label>
																			<input name="pwd2" type="password" id="pwd2" v-model="password2" required="required" placeholder="确认密码" />
																			<span hidden="hidden">密码不一致</span> 	
																		</div>
												 						<!--密码强度-->
																		<div class="lnu_container" id="pwdrank">
																		    <p :class="{ lovercase_valid: contains_lovercase }">Lowercase</p>
																		    <p :class="{ number_valid: contains_number }">Number</p>
																		    <p :class="{ uppercase_valid: contains_uppercase }">Uppercase</p>
																		</div>
																		<!--密码是否通过-->  
																		<div class="valid_password_container" :class="{show_valid_password_container : valid_password }">
																		    <svg width="100%" height="100%" viewBox="0 0 140 100">
																		      <path class="tick" :class="{checked: valid_password }"
																		          d="M10,50 l25,40 l95,-70" />
																		    </svg>
																		</div>
																		
																	</div>
                       	
                       							<input type="submit" class="submit" value="重置" onclick="resetPwd()">
                       						</form>
                       					</div>
                       				</div>
                       				<div style="width:100%;height: 10px;"></div>
                       				<!--图片-->
                       	
                       			</div>
                       		
                       	</section>
                         
                       </div>
                    </div>
                </div>
                 <!-- end row --> 
 
            </div>
      <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">Copyright &copy; 2019 Komidori. All rights reserved.</footer>	
         <!--End footer -->

       </div>
      <!--End main content -->
    


    <!--Begin core plugin -->
    <!--Begin core plugin -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script  src="../../assets/js/jquery.slimscroll.js"></script>
    <script src="../../assets/js/chat/jquery.nicescroll.min.js"></script>
    <script src="../../assets/js/functions.js"></script>
    <!-- End core plugin -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="../../assets/js/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../assets/js/jquery-validation/validation-custom.js"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    
   	
   	<!--密码等级-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../assets/js/pwd_rank.js"></script>
		
		<script src="../../assets/js/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../assets/js/GlobalVariables.js" type="text/javascript" charset="utf-8"></script>
 
</body>
<script>
	
	
	function resetPwd() {
        if (app.valid_password == false) {
            if (app.password == "")
                return;
            alert("密码格式不正确")
            return
        }

        if (app.password != app.password2) {
            if (app.password2 == "") return;
            alert("密码不一致")
            return
        }

        $.ajax({
            url: "http://" + host + "/Admin/ad_resetPwd",
            method:"post",
            data:{
                password:app.password,
            },
            xhrFields:{
                withCredentials:true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                let message = result.message
                if(message != "success"){
                    alert(message);
                    window.location.href = '../ad_signin.html'
                } else {
                		alert("修改密码成功，请重新登录");
                    window.location.href = '../ad_signin.html'
                }
            }
        });

    }
</script>
</html>
