<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link rel="icon" href="assets/images/favicon.png" type="image/png">-->

    <title>Home</title>

    <!--Begin  Page Level  CSS -->
    <link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
    <!--End  Page Level  CSS -->
    <link href="../assets/css/Doctor_port_css/icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css"/>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/Doctor_port_css/style.css" rel="stylesheet">
    <link href="../assets/css/Doctor_port_css/responsive.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="../assets/css/chat/soho.min.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="../assets/css/Doctor_port_css/doc_index.css/doc_index.css"/>-->


</head>

<body class="sticky-header">
<!-- call modal -->
<div id="modal">
    <div class="modal call fade" id="call" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="call">
                        <!--<div class="call-background" style="background: url(../assets/images/call-bg.png)"></div>-->
                        <div>
                            <figure class="mb-4 avatar avatar-xl">
                                <img src="../assets/images/heads.jpg" class="img-circle">
                            </figure>
                            <h4 class="text-center">【<span id="mat_name"></span>】正在咨询您 ...</h4>
                            <div class="action-button">
                                <a onclick="jumpToConsult()" type="button" class="btn btn-success btn-floating btn-lg"
                                   :href="'online_consult/consult_ask2.html?docId=' + doctorId + '&matId=' + maternalId">
                                    <i class="fa fa-phone"></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-pulse btn-floating btn-lg"
                                        data-dismiss="modal">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ call modal -->


<header>
    <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="index.html"><img src="../assets/images/l3.jpg" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a href="index.html"><i class="fa fa-user"></i></a>
        </div>
        <div class="left-side-inner">
            <!--左侧 导航-->
            <ul class="nav nav-pills nav-stacked custom-nav">

                <li class="menu-list nav-active">
                    <a href="#"><i class="fa fa-home"></i>
                        <span>主页</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li class="active"><a href="index.html"> 主页</a></li>
                    </ul>
                </li>

                <li class="menu-list">
                    <a href="#"><i class="icon-user"></i>
                        <span>个人中心</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="user/personal_info.html"> 隐私信息</a></li>
                        <li><a href="user/doc_profile.html"> 个人Profile</a></li>
                        <li><a href="user/reset_pwd.html"> 重置密码</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="online">
                    <a href="#"><i class="icon-microphone"></i>
                        <span>线上咨询管理</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="online_consult/consult_setting.html">线上服务设置</a></li>
                        <li><a href="online_consult/consult_list.html"> 线上服务订单</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="offline">
                    <a href="#"><i class="icon-paper-clip"></i>
                        <span>线下预约管理</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="offline_book/offline_setting.html"> 设置预约信息</a></li>
                        <li><a href="offline_book/offline_service_list.html"> 线下服务订单</a></li>
                    </ul>
                </li>

                <li class="menu-list" id="course">
                    <a href="#"><i class="icon-people"></i>
                        <span>经验社区</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="course_management/mycourse_list.html"> 我的课程</a></li>
                        <li><a href="course_management/publish_course.html"> 发布课程</a></li>
                    </ul>
                </li>

                <li class="menu-list">
                    <a href="#"><i class="icon-envelope-letter"></i>
                        <span>我的消息盒子</span>
                    </a>
                    <ul class="sub-menu-list">
                        <li><a href="inbox/inbox.html"> 消息盒子</a></li>
                    </ul>
                </li>

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
</header>
<!--Start 左侧导航栏-->

<!--End left side menu-->

<!-- main content start-->
<div class="main-content" id="app">


    <!-- header section start-->
    <div class="header-section">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li v-if="messageCount != 0">
                    <a onclick="jumpToConsult()" :href="'online_consult/consult_ask2.html?docId=' + doctorId + '&matId=' + maternalId" class="btn btn-default dropdown-toggle info-number consultbtn">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">1</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">{{noteSize}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">消息</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="message-list message-scroll-list">
                                <a href="#" v-for="note in noteList">
                                    <span class="photo"> <img src="../assets/images/admin.jpg" class="img-circle"
                                                              alt="img"></span>
                                    <span class="subject">{{note.emailFromId}}</span>
                                    <p class="message hiddencontent">{{note.emailContent}}</p>
                                    <span class="time">{{formatDate(note.emailDate,"yyyy-MM-dd hh:mm-ss")}}</span>
                                </a>
                            </li>
                            <li class="last">
                                <a href="inbox/inbox.html">所有消息</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img :src="doctor.doctorImg" alt=""/>
                        <span v-if="doctor.doctorStatus==1" class="label label-success">在线</span>
                        <span v-if="doctor.doctorStatus==0" class="label label-default">离线</span>
                        {{doctor.doctorName}}
                        <span id="verify" class="hidden">0</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li>
                            <a href="user/reset_pwd.html"> <i class="fa fa-exchange"></i> 更改密码 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="logout()"> <i class="fa fa-lock"></i> 退出登陆 </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->


    <!--body wrapper start-->
    <div class="wrapper">

        <!--Start Page Title-->
        <div class="page-title-box">
            <h5 class="page-title">您好 , 【{{doctor.doctorName}}】医生 ! </h5>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="index.html">主页</a>
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->

        <!--Start row-->
        <div class="row">
            <div class="container">
                <div class="analytics-box">

                </div>
            </div>
        </div>
        <!--End row-->

        <!--Start row-->
        <div class="row">
            <!--Start info box-->
            <div class="col-md-4 col-sm-6">
                <div class="info-box-main">
                    <div class="info-stats grid">
                        <p>{{OnlineNum}}</p>
                        <span>线上服务总数 </span>
                    </div>
                    <div class="info-icon text-primary ">
                        <i class="fa fa-archive"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar" aria-valuenow="15" aria-valuemin="0"
                                 aria-valuemax="50" style="width: 30%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End info box-->

            <!--Start info box-->
            <div class="col-md-4 col-sm-6">
                <div class="info-box-main">
                    <div class="info-stats">
                        <p>{{OfflineNum}}</p>
                        <span>线下服务总数</span>
                    </div>
                    <div class="info-icon text-info">
                        <i class="mdi mdi-account-multiple"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-purple progress-bar-striped
                              	active" role="progressbar" aria-valuenow="13" aria-valuemin="0"
                                 aria-valuemax="50" style="width: 26%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End info box-->

            <!--Start info box-->
            <div class="col-md-4 col-sm-6">
                <div class="info-box-main">
                    <div class="info-stats">
                        <p>{{CourseNum}}</p>
                        <span>发表文章数</span>
                    </div>
                    <div class="info-icon text-warning">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped
                              	active" role="progressbar" aria-valuenow="12" aria-valuemin="0"
                                 aria-valuemax="50" style="width: 24%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End info box-->

        </div>
        <!--End row-->


        <!--Start row-->
        <div class="row">

            <div class="col-md-6">
                <div class="white-box">
                    <h2 class="header-title">我的基本信息</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered doc_data_list">
                            <tr>
                                <th>Id</th>
                                <td>{{doctor.doctorId}}</td>
                            </tr>
                            <tr>
                                <th>姓名</th>
                                <td>{{doctor.doctorName}}</td>
                            </tr>
                            <tr>
                                <th>性别</th>
                                <td>{{doctor.doctorSex}}</td>
                            </tr>
                            <tr>
                                <th>年龄</th>
                                <td>{{doctor.doctorAge}}</td>
                            </tr>
                            <tr>
                                <th>手机</th>
                                <td>{{doctor.doctorTel}}</td>
                            </tr>
                            <tr>
                                <th>邮箱</th>
                                <td>{{doctor.doctorEmail}}</td>
                            </tr>
                            <tr>
                                <th>城市</th>
                                <td>{{doctor.doctorCity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="white-box">
                    <h2 class="header-title">Profile</h2>
                    <div class="table-responsive">
                        <table id="doc_data_list" class="table table-striped table-hover table-bordered doc_data_list">
                            <tr>
                                <th>所属医院</th>
                                <td>{{doctor.doctorHospital}}</td>
                            </tr>
                            <tr>
                                <th>部门</th>
                                <td>{{doctor.doctorDept}}</td>
                            </tr>
                            <tr>
                                <th>职称</th>
                                <td>{{doctor.doctorRank}}</td>
                            </tr>
                            <tr>
                                <th>关注量</th>
                                <td>
                                    <span class="label label-info">{{doctor.doctorGoodReview}}</span></td>
                            </tr>
                            <tr>
                                <th>好评量</th>
                                <td><span class="label label-danger">{{doctor.doctorFollow}}</span></td>
                            </tr>
                            <tr>
                                <th>课程数量</th>
                                <td><span class="label label-success">{{CourseNum}}</span></td>
                            </tr>
                            <tr>
                                <th>擅长方向</th>
                                <td>
                                    <p class="hiddencontent">{{doctor.dcotorStrength}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!--End row-->

    </div>
    <!-- End Wrapper-->


    <!--Start  Footer -->
    <footer class="footer-main">Copyright &copy; 2019 Komidori. All rights reserved.</footer>
    <!--End footer -->

</div>
<!--End main content -->


<!--Begin core plugin -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<!--<script src="assets/plugins/moment/moment.js"></script>-->
<script src="../assets/js/jquery.slimscroll.js"></script>
<script src="../assets/js/chat/jquery.nicescroll.min.js"></script>
<script src="../assets/js/functions.js"></script>
<!-- End core plugin -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../assets/js/GlobalVariables.js"></script>
<script src="../assets/js/GlobalMethod.js"></script>
<script src="../assets/js/doctorGetMessage.js"></script>

<!--<script src="../assets/js/chat/soho.min.js" type="text/javascript" charset="utf-8"></script>-->


</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            doctor: {},
            doctorId: '',
            maternalId: '',
//          doctorVerify : 0,
            OnlineNum: 0,
            OfflineNum: 0,
            CourseNum: 0,
            noteList: [],
            noteSize: 0,
            messageCount:0,

        },
        methods: {
            formatDate(thistime, fmt) {
                fmt = formatDate(thistime, fmt)
                return fmt
            },
        },
        created() {

            checkDoctor()
            getOnlineNum()
            getOfflineNum()
            getCourseNum()
            getDoctorMsg2(this, '#verify')
            getDocNoteMsg(this)
        },

    });


    let modal = new Vue({
        el: "#modal",
        data: {
            doctorId: '',
            maternalId: '',
        }
    });

    //		function modal(){
    //		 var modal = $('#call');
    //		 var name = "菜玉溪";
    //		 //设置模态框中请求咨询的用户名字
    //	 modal.find("#mat_name").text( name);
    //
    //		//自动弹出
    //		setTimeout(function () {
    //      $('#call').modal('show');
    //  }, 2000);
    //
    //  //手动弹出
    //  	//$('#call').modal('show');
    //		}

    function getOnlineNum() {
        $.ajax({
            url: "http://" + host + "/DocPort/online/getOnlineNum",
            method: "get",
            xhrFields: {
                withCredentials: true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                if (result.status != "200") {
                    //alert("mat信息获取失败");
                    //window.location.href = 'ad_signin.html'
                }
                console.log(result)
                app.OnlineNum = result.data
            }
        });
    }

    function getOfflineNum() {
        $.ajax({
            url: "http://" + host + "/DocPort/offline/getOfflineNum",
            method: "get",
            xhrFields: {
                withCredentials: true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                if (result.status != "200") {
                    //alert("doc信息获取失败");
                    //window.location.href = 'ad_signin.html'
                }
                console.log(result)
                app.OfflineNum = result.data;
            }
        });
    }

    function getCourseNum() {
        $.ajax({
            url: "http://" + host + "/DocPort/course/getCourseNum",
            method: "get",
            xhrFields: {
                withCredentials: true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                if (result.status != "200") {
                    //alert("nurse信息获取失败");
                    //window.location.href = 'ad_signin.html'
                }
                console.log(result)
                app.CourseNum = result.data;
            }
        });
    }


</script>
</html>
