<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.komidori_doctor.mapper.myMapper.MyCourseInfoMapper">
    <resultMap id="myResultMap" type="com.doctor.komidori_doctor.pojo.CourseInfo" >
        <id column="course_id" property="courseId" jdbcType="INTEGER" />
        <result column="course_type" property="courseType" jdbcType="INTEGER" />
        <result column="course_doc_id" property="courseDocId" jdbcType="INTEGER" />
        <result column="course_class_id" property="courseClassId" jdbcType="INTEGER" />
        <result column="course_date" property="courseDate" jdbcType="TIMESTAMP" />
        <result column="course_good_review" property="courseGoodReview" jdbcType="INTEGER" />
        <result column="course_price" property="coursePrice" jdbcType="REAL" />
        <result column="course_img" property="courseImg" jdbcType="VARCHAR" />
        <result column="course_title" property="courseTitle" jdbcType="VARCHAR" />
        <result column="course_content" property="courseContent" jdbcType="VARCHAR" />
        <result column="course_introduction" property="courseIntroduction" jdbcType="VARCHAR" />
        <association property="doctorInfo" javaType="com.doctor.komidori_doctor.pojo.DoctorInfo">
            <id column="doctor_id" property="doctorId" jdbcType="INTEGER" />
            <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
            <result column="doctor_rank" property="doctorRank" jdbcType="VARCHAR" />
            <result column="doctor_hospital" property="doctorHospital" jdbcType="VARCHAR" />
            <result column="doctor_img" property="doctorImg" jdbcType="VARCHAR" />
        </association>
    </resultMap>


    <select id="getCourseByID" resultMap="myResultMap">
        select * from course_info
        left join doctor_info on course_info.course_doc_id = doctor_info.doctor_id
        where course_info.course_id = #{courseID}
    </select>


</mapper>