<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.komidori_doctor.mapper.myMapper.MyCollectionChartMapper">
    <resultMap id="BaseResultMap" type="com.doctor.komidori_doctor.pojo.CollectionChart">
        <id column="collect_mat_id" property="collectMatId" jdbcType="INTEGER"/>
        <id column="collection_id" property="collectionId" jdbcType="INTEGER"/>
        <result column="collection_date" property="collectionDate" jdbcType="TIMESTAMP"/>
        <association property="publicEssayChart" javaType="com.doctor.komidori_doctor.pojo.PublicEssayChart">
            <id column="essay_id" property="essayId" jdbcType="INTEGER"/>
            <result column="essay_title" property="essayTitle" jdbcType="VARCHAR"/>
            <result column="essay_author_id" property="essayAuthorId" jdbcType="INTEGER"/>
            <result column="essay_date" property="essayDate" jdbcType="TIMESTAMP"/>
            <result column="essay_category" property="essayCategory" jdbcType="INTEGER"/>
            <result column="essay_good_review" property="essayGoodReview" jdbcType="INTEGER"/>
            <result column="essay_content" property="essayContent" jdbcType="VARCHAR"/>
            <result column="essay_status" property="essayStatus" jdbcType="INTEGER"/>
            <association property="publicCategoryChart" javaType="com.doctor.komidori_doctor.pojo.PublicCategoryChart">
                <id column="public_category_id" property="publicCategoryId" jdbcType="INTEGER"/>
                <result column="public_category_name" property="publicCategoryName" jdbcType="VARCHAR"/>
            </association>
        </association>
    </resultMap>

    <select id="getBookList" resultMap="BaseResultMap">
        select * from collection_chart as cc
        inner join public_essay_chart as pec on cc.collection_id = pec.essay_id
        inner join public_category_chart as pcc on pcc.public_category_id = pec.essay_category
        where collect_mat_id = #{momId}
    </select>
</mapper>