.nbox{
	width: 98%;
}

.book_nurse .nbox{
	margin-top:-60px ;
}

@media (max-width: 767px) {
  .nbox{
  	width: auto; 	
  }
  
}
.content-panel {
	background: #ffffff;
	/*box-shadow: 0px 3px 2px #aab2bd;*/
	padding-top: 15px;
	padding-bottom: 5px;
	
}
/* PROFILE PAGE CONF */
.profile-pic img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 10px solid #FFFFFF;
	margin-top: 20px;
}

.profile-text h6 {
	margin-top: -5px;
	margin-bottom: 20px;
	color: #d3d3d3;
	text-align: left;
}

.profile-text h3 {
	font-weight: 700;
	color: #6F9E75;
	text-align: left;
}

.profile-text h4 {
	color: #6F9E75;
	text-align: left;
}

.profile-text p {
	/*margin-left: 5px;*/
	text-align: left;
}

.right-divider {
	border-right: 1px solid #d3d3d3;
	height: 100%;
	
}

/*月嫂简介-月嫂卡片样式-手机端*/
@media (max-width: 767px) {
	.nurse_center_box{
	border: 1px solid #d3d3d3;     
    margin-top: -10px;
	}	
	
  .profile-text h6,.profile-text h3 ,
  .profile-text h4,.profile-text p {
    text-align: center;  }
  .centent{
  	text-align: left;
  } 
  .right-divider{
  	border: none;
  }
  .right-divider h4,.right-divider h6{
     	display: inline-block;     	
     }
  .right-divider h6{
     	margin-right: 10px;
     }
}

.mt {
	margin-top: 25px;
}

.mb {
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

/*button*/
.btn-theme {
  color: #fff;
  background-color: #6F9E75;
  border-color: #6F9E75;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #71C671;
  border-color: #71C671;
}

.btn-theme02 {
  color: #fff;
  background-color: #6F9E75;
  border-color: #6F9E75;
}
.btn-theme02:hover,
.btn-theme02:focus,
.btn-theme02:active,
.btn-theme02.active,
.open .dropdown-toggle.btn-theme02 {
  color: #fff;
  background-color: #71C671;
  border-color: #71C671;
}

caption{
	text-align: center;
}

.n_table table{
  	width: 98%;  	
  }


@media (max-width: 767px) {
  .n_table table{
  	width: 100%;
  	padding-right: 0;
  }
}

.right-divider h4,.right-divider h6{
	text-align: center;
}

.comments-title{
	width: 100px;	
	text-align: center;
	border-bottom: 3px #6F9E75 solid;
}
.comments-title2{
	width: 150px;	
	text-align: center;
	border-bottom: 3px #6F9E75 solid;
}
.comments{
	width: 98%;
	height: 400px;
	overflow-y: scroll;
}

.comments-reply span{
	color: #FFFFFF;	
}

.nurse_list{
	height: 500px;
	overflow-y: scroll ;
}

.nurse_list::-webkit-scrollbar{
    width: 0px;
    background: none;
}

/*详情分隔条*/
.greenbar{
	height: 35px;
	width: 7px;
	background-color:#6F9E75 ;
	float: left;
}
.centerbar{
	padding-left:10px;
	float: left;
	
}
.centerbar p{
	/*width: 90px;*/
	font-size: 18px;
	font-weight:bold ;
	line-height: 35px;
}

.rightbar {	
	padding-left: 5px;
}

/*分割条后的正文内容*/
.nurse_contentbox{
	padding: 20px 0px;
}

/*预约月嫂*/

.date_input{
	margin-bottom: 15px;
	margin-top: 5px;
	margin-left: 6px;
	/*margin-left: 6px;*/
}

input{
	font-size: 15px;
	display: inline-block;
	margin-right: 6px;
	padding: 5px;
	border-radius: 5px!important;
	height: 30px;
	border: 1px solid #C0C0C0;
	/**/
	/*border: ;*/
	
	
}
#to{
	display: inline-block;
	margin-top: -3px;
	border: none;
	height: 31px;
}


#city-picker3{
	width: auto;
	min-width: 200px;
}

.modal-dialog{
	margin-top: 100px;
}

#sandbox-container label{
	display: block;
}
.#sandbox-container table{
	border: none;
}
@media  (max-width:767px ) {
	.date_input{
		margin-left: 0px;
	}
}