<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="themepresss">
    <title>月嫂详情</title>

    <link href="../../assets/css/index_Base.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="../../assets/css/tab/tab_styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/Maternal_port_css/nurse/nurse.css"/>

</head>
<body class="card-no-border">

<div class="page-wrapper" id="app">
    <!--头部-->
    <header id="header" class="site-header header-style-1 header-style-3">
        <div class="topbar">
            <div class="container">
                <div class="separator"></div>
                <div class="row">
                    <div class="col col-sm-3">
                        <div class="contact-info">
                            <ul>
                                <li><i class="ti-location-pin"></i>湛江市赤坎区教育路11号</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-sm-5">
                        <div class="contact-info">
                            <ul>
                                <li><i class="ti-mobile"></i>502015889@qq.com</li>
                                <li><i class="ti-email"></i>+ 0759 134 3364 8882</li>
                            </ul>
                        </div>
                    </div>
                    <!--登陆注册入口-->
                    <div class="col col-sm-4 hidden">
                        <div class="sign">
                            <ul>
                                <li><a href="signin.html" class="log">登陆</a></li>
                                <li><a href="register.html" class="log">注册</a></li>
                                <li id="doc_entry"><a href="#" class="log">医生入口</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--登陆后显示-->
                    <div class="col col-sm-4 ">
                        <div class="admin">
                            <ul>
                                <li>
                                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <img src="../../assets/images/heads.jpg" alt="" width="30px" height="30px"/>
                                        Komidori Li
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                        <li><a href="../user/personal_center.html"> <i class="ti-user"></i> 个人中心 </a>
                                        </li>
                                        <li><a href="../reset_pwd.html"> <i class="ti-lock"></i> 更改密码</a></li>
                                        <li><a href="../user/personal_information.html"> <i class="ti-bag"></i> 我的信息
                                        </a></li>
                                        <hr/>
                                        <li><a href="../signin.html"> <i class="ti-close"></i> 退出登陆 </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div> <!-- end container -->
        </div>
        <!-- end topbar -->

        <nav class="navigation navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="open-btn">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a class="navbar-brand" href="index.html"><img src="../../assets/images/l3.jpg" alt height="68px;"></a>
                </div>
                <!--导航条-->
                <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                    <button class="close-navbar"><i class="ti-close"></i></button>
                    <ul class="nav navbar-nav">

                        <li class="menu-item-has-children">
                            <a href="../index.html">主页</a>

                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">线上咨询服务</a>
                            <ul class="sub-menu">
                                <li><a href="../doctor/find_doctors.html">找医生</a></li>
                                <!--<li><a href="service-single.html">按科室寻找医生</a></li>-->
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">线下预约服务</a>
                            <ul class="sub-menu">
                                <li><a href="../doctor/find_appointment_doc.html">预约私人医生</a></li>
                                <li><a href="../nurse/find_nurses.html">预约月嫂</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">经验交流社区</a>
                            <ul class="sub-menu">
                                <li><a href="../mom_public/expert_course.html">专家课程</a></li>
                                <li><a href="../expert/find_experts.html">找专家</a></li>
                                <li><a href="../mom_public/mom_public.html">妈妈交流社区</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">育儿工具</a>
                            <ul class="sub-menu">
                                <li><a href="../baby_tools/production_list.html">产检表</a></li>
                                <li><a href="../baby_tools/vaccine_list.html">疫苗接种</a></li>
                                <li><a href="../baby_tools/growth_prediction.html">胎儿发育测评</a></li>
                            </ul>
                        </li>

                        <li><a href="../about.html">关于我们</a></li>

                    </ul>
                </div><!-- end of nav-collapse -->
                <!--导航条//-->
                <!--搜索-->
                <div class="side-info">
                    <div class="header-search-form-wrapper">
                        <button class="search-toggle-btn"><i class="fi flaticon-search"></i></button>
                        <div class="header-search-form">
                            <form>
                                <div>
                                    <input type="text" class="form-control" placeholder="在此处搜索...">
                                    <button type="submit"><i class="fi flaticon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--搜索//-->
            </div><!-- end of container -->
        </nav>
    </header>

    <!--头部结束-->
    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- end preloader -->

    <!--导航-->
    <div id="personal">
        <div class="container">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-12 align-self-center">
                    <!--<h3 class="text-themecolor">个人信息</h3>-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="../user/personal_center.html">个人中心</a></li>
                        <li class="breadcrumb-item"><a href="nurselist.html">我的月嫂</a></li>
                        <li class="breadcrumb-item active">月嫂信息</li>
                        <!--<li class="breadcrumb-item"><a href="javascript:void(0)">宝宝状态</a></li>-->
                    </ol>
                </div>
                <!--<div class="col-md-7 align-self-center">
                    <a href="#" class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down"> Upgrade to Pro</a>
                </div>-->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tab_wrap">
            <div class="tab_box text-center">
                <input id="tab-1" type="radio" name="tab" class="service" checked><label for="tab-1"
                                                                                         class="tab">月嫂简介</label>
                <input id="tab-2" type="radio" name="tab" class="order"><label for="tab-2" class="tab">月嫂详情</label>
                <div class="container tab-form">
                    <!--tab1-->
                    <div class="tab_1">
                        <div  class="container">
                            <div class="row">
                                <div class="content-panel nbox">

                                    <!--点赞收藏情况-->
                                    <div class="col-md-4 profile-text mt mb centered">
                                        <div class="right-divider">
                                            <h4>{{nurse.nurseGoodReview}}</h4>
                                            <h6>点赞</h6>
                                            <h4>{{nurse.nurseWorkAge}}</h4>
                                            <h6>工龄</h6>
                                        </div>
                                    </div>

                                    <!-- 姓名、简介 -->
                                    <div class="col-md-4 profile-text nurse_center_box">
                                        <h3>{{nurse.nurseName}}</h3><!-- 姓名 -->
                                        <h6 v-if="nurse.nurseRank == 2">钻石月嫂</h6><!-- 月嫂等级 -->
                                        <h6 v-if="nurse.nurseRank == 1">金牌月嫂</h6><!-- 月嫂等级 -->
                                        <h6 v-if="nurse.nurseRank == 0">银牌月嫂</h6><!-- 月嫂等级 -->
                                        <!--月嫂品质-->
                                        <p class="centent">综合评价:
											<!--体贴、细心仔细，有耐心，有经验，做菜好吃-->
                                            <span class="label label-primary">年轻开朗</span>
                                            <span class="label label-info">口甜舌滑</span>
                                            <span class="label label-success">甜死人不偿命</span>
                                            <span class="label label-danger">阳光帅气</span>
                                            <span class="label label-default">温柔体贴</span>
                                        </p>
                                        <br>
                                        <!--<p><button class="btn btn-theme"><i class="ti-envelope"></i> 联系</button></p>-->
                                    </div>

                                    <!-- 头像 -->
                                    <div class="col-md-4 centered">
                                        <div class="profile-pic">
                                            <p><img :src="nurse.nurseImg" class="img-circle"></p>
                                            <p>
                                                <button id="thumbup" @click="thumbup" class="btn btn-theme"><i class="ti-thumb-up"></i>
                                                    点赞
                                                </button>
                                                <button class="btn btn-theme02" @click="orderNurse(nurse.nurseId)"><i class="ti-plus"></i> 预约</button>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- 头像 结束 -->

                                </div> <!-- content-panel -->
                            </div><!--row end-->

                            <!--月嫂个人简介-->
                            <div class="nurse_contentbox">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="greenbar"></div>
                                        <div class="centerbar">
                                            <p>个人简介</p>
                                        </div>
                                        <div class="rightbar"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 normal_text">
                                        <p>{{nurse.nurseIntroduction}}</p>
                                    </div>
                                </div>
                            </div>

                            <!--评论区-->
                            <div class="nurse_contentbox">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="greenbar"></div>
                                        <div class="centerbar">
                                            <p>认证消息</p>
                                        </div>
                                        <div class="rightbar"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 normal_text">
                                        <p>{{nurse.nurseNvq}}</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--tab2=========================================-->
                    <div class="tab_2">

                        <div  class="row">
                            <div  class="container">
                                <div class="table-responsive n_table">

                                    <table class="table table-striped table-hover table-bordered">
                                        <caption>基本资料</caption>
                                        <tr>
                                            <th>姓名</th>
                                            <td>{{nurse.nurseName}}</td>
                                        </tr>
                                        <tr>
                                            <th>年龄</th>
                                            <td>{{nurse.nurseAge}}</td>
                                        </tr>
                                        <tr>
                                            <th>籍贯</th>
                                            <td>{{nurse.nurseRace}}</td>
                                        </tr>
                                        <tr>
                                            <th>语言</th>
                                            <td>{{nurse.nurseLanguage}}</td>
                                        </tr>
                                        <tr>
                                            <th>服务城市</th>
                                            <td>{{nurse.nurseCity}}</td>
                                        </tr>
                                        <tr>
                                            <th>工龄</th>
                                            <td>{{nurse.nurseWorkAge + "年"}}</td>
                                        </tr>
                                        <tr>
                                            <th>服务人数</th>
                                            <td>{{nurse.nurseOrders + "户"}}</td>
                                        </tr>
                                        <tr>
                                            <th>手机号</th>
                                            <td>{{nurse.nurseTel}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <!--row end-->
                        </div>

                        <!--评价-->
                        <div id="" class="row">
                            <div class="container min_top">
                                <section class="blog-single-section">
                                    <div class="comments-area">
                                        <div class="comments-section">
                                            <h3 class="comments-title">评论<span class="badge">2</span></h3>

                                            <ol class="comments">
                                                <!--评价1-->
                                                <li class="comment">
                                                    <div>
                                                        <div class="comment-theme">
                                                            <div class="comment-image"><img
                                                                    src="../assets/images/heads.jpg" alt></div>
                                                        </div>
                                                        <div class="comment-main-area">
                                                            <div class="comment-wrapper">
                                                                <div class="comments-meta">
                                                                    <h4>玉溪妈妈 <span class="comments-date">2020-01-03 19:20:12</span>
                                                                    </h4>
                                                                </div>
                                                                <div class="comment-area">
                                                                    <!--评价正文-->
                                                                    <p>
                                                                        菜阿姨专业技能比较扎实，做事比较细致，有条不紊，尤其是通乳这块非常擅长。对宝宝像对自己的孩子，经常跟宝宝讲话，对宝宝笑，逗宝宝玩。对我产后恢复也是尽心尽力，给出一些好的建议。感谢这段时间菜阿姨的悉心照料。 </p>
                                                                    <div class="comments-reply">
                                                                        <a class="comment-reply-link"
                                                                           href="#"><span>回复</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!--评价2-->
                                                <li class="comment">
                                                    <div>
                                                        <div class="comment-theme">
                                                            <div class="comment-image"><img
                                                                    src="../assets/images/heads.jpg" alt></div>
                                                        </div>
                                                        <div class="comment-main-area">
                                                            <div class="comment-wrapper">
                                                                <div class="comments-meta">
                                                                    <h4>玉溪妈妈 <span class="comments-date">2020-01-03 19:20:12</span>
                                                                    </h4>
                                                                </div>
                                                                <div class="comment-area">
                                                                    <!--评价正文-->
                                                                    <p>
                                                                        菜阿姨专业技能比较扎实，做事比较细致，有条不紊，尤其是通乳这块非常擅长。对宝宝像对自己的孩子，经常跟宝宝讲话，对宝宝笑，逗宝宝玩。对我产后恢复也是尽心尽力，给出一些好的建议。感谢这段时间菜阿姨的悉心照料。 </p>
                                                                    <div class="comments-reply">
                                                                        <a class="comment-reply-link"
                                                                           href="#"><span>回复</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ol>
                                        </div> <!-- end comments-section -->

                                    </div>
                                </section>
                            </div><!-- end container -->

                        </div><!-- end row -->


                    </div>


                </div>
            </div><!--tab box-->
        </div><!--tab wrap-->
    </div> <!--container-->
    <!--tab============================================-->

    <!--tab 结束=======================================-->

    <!--页尾-->
    <div id="foot"></div>

</div>
</body>


<!-- All JavaScript files================================================== -->

<!--jquery-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

<!--bootstrap-->
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Plugins for this template -->
<script src="../../assets/js/jquery-plugin-collection.js"></script>

<!-- Custom script for this template -->
<script src="../../assets/js/script.js"></script>

<!--滑动-->
<script src="../../assets/js/smoothscroll.js" type="text/javascript" charset="utf-8"></script>



<script src="../../assets/js/vue/vue.js"></script>
<script src="../../assets/js/GlobalVariables.js"></script>
<script src="../../assets/js/jquery.params.js"></script>
<!-- JS files end===========================================================-->
<script>
    //	$("#head").load("./user_head.html");


    $(function () {
        $("#foot").load("../low_footer.html");

  /*      $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),

        });*/

        //点赞
        $("#thumbup").click(function () {
            $(this).css({"background-color": "darkred", "border-color": "darkred"});
        });


    });


</script>
<script>
	function getNurse() {
		let id = $.query.get("id")
		console.log(id)
		$.ajax({
			url: "http://" + host + "/nurse/getNurseByID",
			method: "get",
			data: {
				nurseID: id,
			},
			xhrFields: {
				withCredentials: true  //带上cookie信息，解决sessionid不一致
			},
			success: function (result) {
				console.log(result)
				app.nurse = result.data
			}
		});
	}


    //医生点赞
    function thumbUpNurse() {
        let id = $.query.get("id")
        $.ajax({
            url: "http://" + host + "/nurse/thumbUpNurse",
            method: "post",
            data: {
                nurseID: id,
            },
            xhrFields: {
                withCredentials: true  //带上cookie信息，解决sessionid不一致
            },
            success: function (result) {
                if (result.status == "200") {
                    app.nurse.nurseGoodReview += 1
                    $("#thumbup").css({"background-color": "darkred", "border-color": "darkred"});
                }

            }
        });
    }
</script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            nurse: {},
        },
        mounted() {
            getNurse()
        },
        methods: {
            follow() {
                swal("关注成功!");
            },

            thumbup() {
                thumbUpNurse()
            },

            formatDate(thistime, fmt) {
                fmt = formatDate(thistime, fmt)
                return fmt
            },

			orderNurse(id) {
                window.location.href = 'book_nurse.html?id=' + id
            }
        }
    })
</script>
</html>
